beautifulsoup4==4.4.1
chardet==2.3.0
colorama==0.3.2
configparser==3.5.0
cycler==0.10.0
html5lib==0.999
matplotlib==1.5.1
numpy==1.11.2
pip==1.5.6
py==1.4.31
pyparsing==2.1.10
pyTelegramBotAPI==2.3.0
pytest==2.8.5
python-dateutil==2.6.0
pytz==2016.10
requests==2.4.3
setuptools==5.5.1
six==1.10.0
tinydb==3.2.1
uptime==3.0.1
urllib3==1.9.1
wheel==0.24.0
